# Python Assessment, Spring 2022

**Note**: If the notebook gets stuck, you should restart the kernel by selecting Kernel -> Restart from the menu above. It is also recommended that you save and checkpoint your notebook as you complete each problem. You can do this by selecting File -> Save and Checkpoint or by using the keyboard shortcut Ctrl + S.

Your grade will be calculated based on a total of 55 points.

### Name: (add name here) [1 point]

### Question 1 <span style = 'font-size:80%'>[3 points]</span>

Write a Python statement that outputs the text "Here we go!"

In [1]:
print("Here we go!")

Here we go!

### Question 2 <span style = 'font-size:80%'>[3 points]</span>

Create a variable called *name* that stores your first name

In [3]:
name = "Juan"

In [4]:
name

'Juan'

### Question 3 <span style = 'font-size:80%'>[3 points]</span>

Complete the code below to output 'This course is: CSC 202', using the value of *course*.

In [5]:
course = 'CSC 202'

print("This course is:", course)

This course is: CSC 202

### Question 4 <span style = 'font-size:80%'>[3 points]</span>

Complete the code below to output 'This course is CSC 202.', using the value of *course*.
Note that there is a period at the end of the sentence.

In [11]:
course = 'CSC 202'
print ("This course is: " + str(course) + ".")

This course is: CSC 202.

### Question 5 <span style = 'font-size:80%'>[4 points]</span>
The formula for converting a temperature in degrees Fahrenheit to Celsius is $(F - 32)\times \frac{5}{9}$.

Convert the temperature below from Fahrenheit to Celsius, and output the result. You should only output the temperature in degrees Celsius. For example, for the temperature below (212 degrees Fahrenheit), you just need to output the value 100.0 (Note: do not worry about formatting the decimal)

In [13]:
F = 212
Celsius = (F - 32)*(5/9)


print(F,"degrees Fahrenheit -->", round(Celsius),"degrees Celsius")

212 degrees Fahrenheit --> 100 degrees Celsius

### Question 6 <span style = 'font-size:80%'>[3 points]</span>
Create a list called *people* containing the names 'Bob', 'Alice', and 'Mary'

In [12]:
people = ['Bob', 'Alice', 'Mary']
people

['Bob', 'Alice', 'Mary']

### Question 7 <span style = 'font-size:80%'>[5 points]</span>
Answer the questions using the sentence stored in *s* below. Note that your code should display the correct answers for any string stored in *s* (i.e., they should not be specific to 'This is a sentence').

In [14]:
s = 'This is a sentence'

(a) How many characters are in the string?

In [15]:
len(s)

18

(b) Output the first character

In [16]:
s[0]

'T'

(c) Output the last character

In [17]:
s[-1]

'e'

### Question 8 <span style = 'font-size:80%'>[5 points]</span>

Use a *loop* to iterate through each character of *s* from the previous question in order to count the number of times the character 'e' appears in the string.

In [20]:
count = 0

for ch in s:
    if ch == 'e' :
        count = count + 1
print('count = ', count)

count =  3

### Question 9 <span style = 'font-size:80%'>[5 points]</span>
The *color* variable in the code below stores the value of the color of a traffic light. Output the following, depending on the color:
- green: output 'go'
- yellow: output 'caution'
- red: output 'stop'
- anything else: output 'broken'

In [22]:
color = 'green'

if color == 'green' :
    print("go")
elif color == 'yellow' : 
    print('slow down (or speed up)')
elif color == 'red':
    print('stop')
else:
    print('traffic light is broken')

go

In [23]:
color = input('Type in a color:').lower()

if color == 'green' :
    print("go")
elif color == 'yellow' : 
    print('slow down (or speed up)')
elif color == 'red':
    print('stop')
else:
    print('traffic light is broken')

Type in a color:green
go

### Question 10 <span style = 'font-size:80%'>[5 points]</span>
Use multiple distinct *if...else* statements to output the following:

- if *age* is 18 or over, then output 'You can vote.'; otherwise, output 'You cannot vote.'
- if *age* is 21 or over, then output 'You can drink.'; otherwise, output 'You cannot drink.'

For example, if age was 20, the output would be:

```
You can vote.
You cannot drink.
```

In [30]:
age = int(input('Enter your age: '))

if age >=18:
    print("You can vote")
else: 
    print("you cannot vote")
    
if age >=21 :
    print("You can drink")
else:
    print("You cannot drink")

Enter your age: 9
you cannot vote
You cannot drink

### Question 11 <span style = 'font-size:80%'>[5 points]</span>
Use a *for* loop to output the positive numbers in the *nums* list.

In [25]:
nums = [9,-8,7,-6,3,2,-1,3,10,9]

In [26]:

for num in nums:
    if num >= 0:
       print(num, end = " ")

9 7 3 2 3 10 9

### Questions 12 and 13

The code below creates *three* lists, which contain the first name, last name, and age of 5 people.
Use these lists to answer the next 2 questions.

In [2]:
fNames = ['Brenda', 'Eddie', 'Jack', 'Diane', 'Zak']
lNames = ['Jones', 'Walker', 'Brown', 'Walker', 'Marshall']
ages = [57, 62, 21, 34, 41]

### Question 12 <span style = 'font-size:80%'>[5 points]</span>


Use *zip* to output the first and last names of each individual. 

Your output should have the format:
    
```
Brenda Jones
Eddie Walker
Jack Brown
...
```

In [3]:
for first, last in zip(fNames, lNames):
    print(first, last)

Brenda Jones
Eddie Walker
Jack Brown
Diane Walker
Zak Marshall

In [4]:
zip(fNames, lNames)
print(fNames,lNames)

['Brenda', 'Eddie', 'Jack', 'Diane', 'Zak'] ['Jones', 'Walker', 'Brown', 'Walker', 'Marshall']

### Question 13 <span style = 'font-size:80%'>[5 points]</span>


Output the full name of the oldest individual by completing the two steps below:

(a) Use *enumerate* to find the *index* of the age that is the largest. Your code should set the value of *li* (largest index) to this *index*, and this should be the correct index for any list of *ages*. However, if you cannot complete this question, you can use the index provided below.

(b) Using the *index* from (a), output the oldest individual, using the following format:

```
Oldest: Eddie Walker is 62 years old
```

In [5]:
li = 2

In [11]:
li = 2
for i, val in enumerate(ages):
    if val>ages[li]:
        li = i
li

1

In [13]:
print('Oldest:',fNames[li],lNames[li],'is',ages[li],'years old')

Oldest: Eddie Walker is 62 years old

In [77]:
max_value = max(ages)
li = [index for index, value in enumerate(ages) if value==max_value]
li

[1]

In [78]:
for first, last, age in zip(fNames, lNames, ages):
    print('Oldest:', first, last, 'is', age, 'years old.')

Oldest: Brenda Jones is 57 years old.
Oldest: Eddie Walker is 62 years old.
Oldest: Jack Brown is 21 years old.
Oldest: Diane Walker is 34 years old.
Oldest: Zak Marshall is 41 years old.

In [86]:
def oldest_p(fNames, lNames, ages):
	return max(ages)

print(oldest_p('oldest:',fNames))

TypeError: oldest_p() missing 1 required positional argument: 'ages'

### Extra Credit  

The code below prompts the user to enter their full name, and then converts the name to a list. Complete the code to output the person's initials, for any number of names entered. For example, if the user enters 'Adam Jones', then your code will output 'AJ'. If the user entered 'Adam Daniel Ron Jones', your code will output 'ADRJ'.

In [38]:
name = input('Enter your full name: ')
nameList = name.split()
nameList

Enter your full name: Juan Guillermo Villegas Salas Bryon

['Juan', 'Guillermo', 'Villegas', 'Salas', 'Bryon']

In [41]:
name = input('Enter your full name: ')
nameList = name.split()
nameList
initials = [x[0] for x in nameList[0:]]
print(*initials, sep = '')

Enter your full name: Juan Guillermo Villegas Salas Bryon
JGVSB