# Natural language processing using *Spacy*

*Spacy* (https://spacy.io/usage/linguistic-features) is another Python module for *natural language processing (nlp)*.

*Spacy* does much of the same analyses that *TextBlob* does, but also includes *named entity recognition* (discussed below). While the choice between *TextBlob* and *Spacy* is a matter of preference for most analyses, a general rule of thumb for us will be to use *TextBlob* for sentiment and word count analyses and *Spacy* for named entity recognition.

In order to use *Spacy*, a language model (https://spacy.io/models/en) must be loaded. Then natural language processing is carried out, as in the following example:

```python
nlp = spacy.load('en_core_web_sm')
doc = nlp('text to analyze')
```

By convention the loaded language model is stored in an object named *nlp*, and the processed text is stored in an object named *doc*, which is a sequence of *token* objects. Each token contains various information such as its *lemma* and *part-of-speech*, which can be seen below.

In [3]:
# import spacy and load language model
import spacy
nlp = spacy.load('en_core_web_sm')

# description of Eastern from Wikipedia
eastern = """
Eastern Connecticut State University is a public liberal arts university in 
Willimantic, Connecticut. Founded in 1889, it is the second-oldest campus in 
the Connecticut State University System and third-oldest public university in 
the state. Eastern is located on Windham Street in Willimantic, Connecticut, 
on 182 acres (0.74 km2) 30 minutes from Hartford, lying midway between New York 
City and Boston.
"""

# process the text
doc = nlp(eastern)

# doc is a sequence of token objects, but displays as text when printed or evaluated
doc

Eastern Connecticut State University is a public liberal arts university in
Willimantic, Connecticut. Founded in 1889, it is the second-oldest campus in
the Connecticut State University System and third-oldest public university in
the state. Eastern is located on Windham Street in Willimantic, Connecticut,
on 182 acres (0.74 km2) 30 minutes from Hartford, lying midway between New York
City and Boston.

Each *token* in the *doc* object contains the following properties (for a full list see https://spacy.io/api/token#attributes):

- *token.text*: the word text
- *token.lemma_*: the lemma or base form of the word
- *token.tag_*: the detailed part of speech tag (e.g., NN is a singular noun and NNS is a plural noun) 
- *token.pos_*: the simple part of speech tag (e.g., all singular and plural nouns are both labeled NOUN)


The code below uses list comprehension to first create a tuple containing the string, lemma, tag, and pos. Then we display the results using a pandas data frame.

In [8]:
token = doc[1]
print('string =', token.text)
print('lemma =', token.lemma_)
print('tag =', token.tag_)
print('pos =', token.pos_)

string = Eastern
lemma = Eastern
tag = NNP
pos = PROPN

In [5]:
token.tag_

'NNP'

In [6]:
token.pos_

'PROPN'

In [7]:
token = doc[1]
print('string =', token.text)
print('lemma =', token.lemma_)
print('tag =', token.tag_)
print('pos =', token.pos_)

string = Eastern
lemma = Eastern
tag = NNP
pos = PROPN

Let's use list comprehension to create a tuple containing the string, lemma, tag, and pos for the first 20 tokens.

In [8]:
tokens = [(token.text, token.lemma_, token.tag_, token.pos_) for token in doc[:20]]
tokens

[('\n', '\n', '_SP', 'SPACE'),
 ('Eastern', 'Eastern', 'NNP', 'PROPN'),
 ('Connecticut', 'Connecticut', 'NNP', 'PROPN'),
 ('State', 'State', 'NNP', 'PROPN'),
 ('University', 'University', 'NNP', 'PROPN'),
 ('is', 'be', 'VBZ', 'AUX'),
 ('a', 'a', 'DT', 'DET'),
 ('public', 'public', 'JJ', 'ADJ'),
 ('liberal', 'liberal', 'JJ', 'ADJ'),
 ('arts', 'art', 'NNS', 'NOUN'),
 ('university', 'university', 'NN', 'NOUN'),
 ('in', 'in', 'IN', 'ADP'),
 ('\n', '\n', '_SP', 'SPACE'),
 ('Willimantic', 'Willimantic', 'NNP', 'PROPN'),
 (',', ',', ',', 'PUNCT'),
 ('Connecticut', 'Connecticut', 'NNP', 'PROPN'),
 ('.', '.', '.', 'PUNCT'),
 ('Founded', 'found', 'VBN', 'VERB'),
 ('in', 'in', 'IN', 'ADP'),
 ('1889', '1889', 'CD', 'NUM')]

### Create a pandas data frame to display the results

We can create a data frame (table) by specifying a list of tuples, where each element of the list corresponds to a row of the table, and each element of the tuple is a column. The *columns* argument specifies the name for each column.

In [9]:
import pandas as pd
df = pd.DataFrame(tokens, columns = ['token', 'lemma', 'tag', 'pos'])
df

          token        lemma  tag    pos
0            \n           \n  _SP  SPACE
1       Eastern      Eastern  NNP  PROPN
2   Connecticut  Connecticut  NNP  PROPN
3         State        State  NNP  PROPN
4    University   University  NNP  PROPN
5            is           be  VBZ    AUX
6             a            a   DT    DET
7        public       public   JJ    ADJ
8       liberal      liberal   JJ    ADJ
9          arts          art  NNS   NOUN
10   university   university   NN   NOUN
11           in           in   IN    ADP
12           \n           \n  _SP  SPACE
13  Willimantic  Willimantic  NNP  PROPN
14            ,            ,    ,  PUNCT
15  Connecticut  Connecticut  NNP  PROPN
16            .            .    .  PUNCT
17      Founded        found  VBN   VERB
18           in           in   IN    ADP
19         1889         1889   CD    NUM

## Named entity recognition

A named entity consists of a noun (or phrase) that corresponds a predefined category such as a "person", a "date", or an "organization". Named entities can be accessed through 
```
doc.ents
```
which returns a tuple of tokens. Each *token* will have the following properties:

- *ent.text*: the text of the named entity
- *ent.label_*: the label for the named entity

A list of the named entities can be found here: https://spacy.io/api/annotation#named-entities

Let's create a list of named entities (text and labels), display this in a data frame.

In [10]:
e1 = doc.ents[0]
e1.text, e1.label_

('Eastern Connecticut State University', 'ORG')

In [11]:
entities = [ (ent.text, ent.label_) for ent in doc.ents]
pd.DataFrame(entities, columns = ['Text','Label'])

                                    Text     Label
0   Eastern Connecticut State University       ORG
1                            Willimantic       GPE
2                            Connecticut       GPE
3                                   1889      DATE
4                                 second   ORDINAL
5    Connecticut State University System       ORG
6                                  third   ORDINAL
7                                Eastern       ORG
8                         Windham Street       FAC
9                            Willimantic       GPE
10                           Connecticut       GPE
11                             182 acres  QUANTITY
12                              0.74 km2  CARDINAL
13                            30 minutes      TIME
14                              Hartford       GPE
15                              New York       GPE
16                                Boston       GPE

## Visualizing named entities

The *displaCy* visualizer can be used to display the text with named entities highlighted, as in the code below.

In [12]:
from spacy import displacy
displacy.render(doc, style="ent")

## Noun phrase extraction
In *Spacy*, noun phrases are called *noun chunks* and are available in *doc.noun_chunks*.
Each *chunk* contains the following:
- *chunk.text* - the text of the noun chunk
- *chunk.root* - the root word of the noun chunk

In [13]:
chunks = [ (chunk.text, chunk.root) for chunk in doc.noun_chunks]
df = pd.DataFrame(chunks, columns = ['Noun Chunk', 'Root'])
df

                                 Noun Chunk         Root
0      Eastern Connecticut State University   University
1          a public liberal arts university   university
2                \nWillimantic, Connecticut  Connecticut
3                                        it           it
4                  the second-oldest campus       campus
5   the Connecticut State University System       System
6                         public university   university
7                                 the state        state
8                                   Eastern      Eastern
9                            Windham Street       Street
10                              Willimantic  Willimantic
11                              Connecticut  Connecticut
12                                182 acres        acres
13                                 0.74 km2          km2
14                                 Hartford     Hartford
15                          New York \nCity         City
16                                   Boston       Boston